<div class="login">
  <img class="imagem-do-fundo" alt="Imagem de fundo" src="assets/imagem-do-fundo@2x.png" />
  <img class="fundo-desfocado-icon" alt="Fundo desfocado" src="assets/fundo-desfocado@2x.png" />
  <div class="novaconta"></div>
  <div class="cmtfacalogin">FAÇA LOGIN!</div>
  <div class="cmtbemvindo">BEM VINDO</div>
  <img class="ellipse-setas-vai-e-volta" alt="Setas" src="assets/ellipse--setas-vai-e-volta.svg" />
  <img class="setas-vaievolta-icon" alt="Setas de movimento" src="assets/setas-vaievolta@2x.png" />

  <div class="boto-de-entrar" (click)="onBotoDeEntrarClick()">
    <div class="cxentra"></div>
    <div class="btentrar">
      <p class="entrar">Entrar</p>
    </div>
  </div>
  <div class="createconta" (click)="onCreatecontaTextClick()">
    <div class="cxentra"></div>
    <div class="btentrar">
      <p class="entrar">Criar Conta</p>
    </div>
  </div>
  <div class="novologin">Novo Login</div>

  <div class="usuario">
    <img class="icons8-user-96-1" alt="Ícone de usuário" src="assets/icons8user96-1@2x.png" />
    <input type="text" class="cxusuario-input" placeholder="USUÁRIO" />
    <div class="usuario-child"></div>
  </div>
  
  <div class="senha">
    <div class="cxsenha"></div>
    <input type="password" class="senha-input" placeholder="******" />
    <div class="senha-child"></div>
    <img class="icons8-user-96-1" alt="Ícone de senha" src="assets/icons8trancar250-1@2x.png" />
  </div>

  <img class="icons8-instagram-240-1-1" alt="Instagram" src="assets/icons8instagram240-1-1@2x.png" />
  <img class="icons8-facebook-num-crculo-24" alt="Facebook" src="assets/icons8facebooknumcrculo240-1@2x.png" />
  <img class="icons8-whatsapp-240-1" alt="WhatsApp" src="assets/icons8whatsapp240-1@2x.png" />

  <i class="cmtnome-completo">Esqueceu a senha?</i>
  <img class="image-1-icon" alt="Ícone" src="assets/image-1@2x.png" />
</div>
