<div class="cadastro">
  <img class="imagem-do-fundo2" alt="Imagem de fundo" src="assets/imagem-do-fundo@2x.png" />
  <img class="fundo-desfocado-icon2" alt="Fundo desfocado" src="assets/fundo-desfocado2@2x.png" />
  <div class="novaconta2"></div>
  <img class="image-1-icon2" alt="Ícone" src="assets/image-1@2x.png" />

  <div class="cmtnome-completo1">Nome Completo:</div>
  <input class="cxnome-icon" type="text" />

  <div class="cmtcpf">ID Loja:</div>
  <input class="cxnome-icon1" type="text" />

  <div class="cmtfacalogin1">Email:</div>
  <input class="cxnome-icon2" type="email" />

  <div class="cmtfacalogin2">Confirmar o Email:</div>
  <input class="cxnome-icon3" type="email" />

  <div class="cmtfacalogin3">Usuário:</div>
  <input class="cxnome-icon4" type="text" />

  <div class="cmtfacalogin4">Senha:</div>
  <input class="cxnome-icon5" type="password" />

  <div class="cmtfacalogin5">Confirmar Senha:</div>
  <input class="cxnome-icon6" type="password" />

  <div class="cmtbemvindo3">BEM VINDO</div>
  <div class="boto-de-entrar1" (click)="onBotoDeEntrarClick()">
    <div class="cxentra1"></div>
    <div class="btentrar1">
      <p class="proximo">Próximo</p>
    </div>
  </div>
  <div class="boto-de-entrar2" (click)="onBotoDeEntrarClick1()">
    <div class="cxentra1"></div>
    <div class="btentrar1">Voltar</div>
  </div>
  <i class="createconta3">
    <p class="proximo">Aqui você, gerente de loja, pode se cadastrar com suas informações com segurança e sem medo.</p>
    <p class="proximo">Você merece melhorar.</p>
  </i>
  <div class="novologin3">Novo Cadastro</div>
</div>
