<div class="menu-principal">
      <img class="imagem-do-fundo1" alt="" src="assets/imagem-do-fundo@2x.png" />
      <img class="fundo-desfocado-icon1" alt="" src="assets/fundo-desfocado1@2x.png" />
      <div class="novologin1">MNSF - GERENTE</div>
      <div class="cmtbemvindo1">BEM VINDO</div>
      <i class="createconta1">
        <p class="estamos-muito-felizes">Estamos muito felizes em tê-lo conosco. Este aplicativo foi desenvolvido para facilitar o seu trabalho e otimizar a gestão das atividades dentro do Sistema Nacional de Formação. Aqui, você encontrará ferramentas poderosas para monitorar, gerenciar e acompanhar o progresso de sua equipe de maneira simples e eficiente.</p>
        <p class="estamos-muito-felizes">Nossa missão é apoiá-lo a alcançar os melhores resultados, tornando a gestão mais ágil e assertiva. Aproveite todos os recursos disponíveis e não hesite em entrar em contato caso precise de ajuda.</p>
        <p class="estamos-muito-felizes">Vamos juntos construir um futuro de excelência na formação!</p>
      </i>
      <i class="createconta2">~Equipe MNSF</i>
      <div class="novaconta1" ></div>
      <div class="fazer-encarte">FAZER ENCARTE</div>
      <div class="fazer-encarte1">FAZER PEDIDO</div>
      <div class="historico">HISTORICO DE PEDIDO </div>
      <div class="relatorio">RELATORIO DE PRODUTOS</div>
      <div class="anterior">ENCARTE ANTERIOR</div>
      <div class="lista">LISTA DE FUCIONARIO </div>
      <div class="sobre">SOBRE</div>
      <div class="cmtbemvindo2">MERCANTIL</div>
      <div class="novologin2">NOSSA SENHORA DE FÁTIMA</div>
      <img class="image-1-icon1" alt="" src="assets/image-11@2x.png" />
    </div>